nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
  
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;

  }
  
  .gallery-container {
    text-align: center;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .gallery-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .gallery-img:hover {
    transform: scale(1.1);
  }
  
  .sectionpatio2{
    padding-top: 0px !important;
    min-height: auto !important;
  }

  .galleryheading{
    margin-bottom: 20px;
  }

  .patiogallery{
    margin-top:50px;
    margin-bottom: 50px;
  }

  .socialfooter{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .socialfooter img{
    width: 34px;
    margin-left:5px;
  }

  .btp{
    margin-left: 5px;
  }

  .patiobenefit{
    font-size: 16px;
  color: #666;
  list-style:square;
  text-align: left;
  }

  .dropdown{
    position: relative;
  cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    background: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    display: block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #666;
  }

  @media (max-width: 480px) {

  .flexCenter img{
    height: auto !important;
  }

  img.homelogo{
    height: 30px !important;
  }

  
}